<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href= "../../public/styles/partials/page-redirecting.css">
    <title>Redirecionando...</title>
</head>

<body>
    <div class="container">
        <div class="success-img">
            <img src="../../public/images/icons/success-check-icon.svg" alt="">
        </div>
        <h1>Cadastro salvo!</h1>
        <p>Tudo certo, seu cadastro está salvo na nossa lista de professores. <br>
        Agora é só ficar de olho no seu WhatsApp.</p>
        <div class="buttons-container">
            <a href='./study.html'>Acessar lista de professores</a>
        </div>
    </div>
</body>

</html>